services:
  db:
    image: postgres:15
    restart: always
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: erp_stock_db
      POSTGRES_USER: eve
      POSTGRES_PASSWORD: password_secret

  web:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_NAME=erp_stock_db
      - DB_USER=eve
      - DB_PASSWORD=password_secret

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - web

volumes:
  postgres_data:
